<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.game.authprovider">

    <application>
        <activity
            android:theme="@style/Theme.NoUI"
            android:excludeFromRecents="true"
            android:name="com.firebase.authwrapper.resultactivity.types.google.GoogleResultActivity">
        </activity>

        <activity
            android:theme="@style/Theme.NoUI"
            android:excludeFromRecents="true"
            android:name="com.firebase.authwrapper.resultactivity.types.facebook.FacebookResultActivity">
        </activity>

    </application>

</manifest>